<aside id="mobile-drawer">
      <nav>
        <ul>
          <li class="nav-item">
            <a href="/restaurants">음식점 보기</a>
          </li>
          <li class="nav-item">
            <a href="/recommend">맛집 공유하기</a>
          </li>
          <li class="nav-item"><a href="/about">About 푸드몰</a></li>
        </ul>
      </nav>
    </aside>