<!-- 500오류 처리 페이지 -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %> 
  </head>
  <body>
    <%- include('includes/header') %> 
    <%- include('includes/aside') %> 
    <main>
      <section class="box-container">
        <h1>서버에 문제가 발생하였습니다.</h1>
      </section>
    </main>
    <%- include('includes/footer') %> 
  </body>
</html>
