<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %> 
  </head>
  <body>
    <!--일부 html 렌더링하는 기능 : include(a,b) a는 넘기는 ejs 파일 / b는 넘기고 싶은 동적인 값인데 props같은 개념.-->
    <%- include('includes/header') %> 
    <%- include('includes/aside') %> 
    <main>
      <section class="box-container">
        <h1>맛집 공유 사이트</h1>
        <p>
          세상에 많은 맛집을 공유해보세요.
        </p>
        <p>
          회원가입이나 로그인없이 자유롭게 공유가 가능합니다.
          <br />
          let's try!
        </p>
      </section>
    </main>
    <%- include('includes/footer') %> 
  </body>
</html>
