<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FoodMall</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/shared.css" />
    <script type="text/javascript" src="scripts/responsive.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
  </head>
  <body>
    <header id="main-header">
      <div id="logo"><a href="/">푸드몰</a></div>
      <nav>
        <ul>
          <li class="nav-item">
            <a href="/restaurants">음식점 보기</a>
          </li>
          <li class="nav-item">
            <a href="/recommend">맛집 공유하기</a>
          </li>
          <li class="nav-item"><a href="/about">About 푸드몰</a></li>
        </ul>
      </nav>
      <button id="drawer-btn">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </header>
    <aside id="mobile-drawer">
      <nav>
        <ul>
          <li class="nav-item">
            <a href="/restaurants">음식점 보기</a>
          </li>
          <li class="nav-item">
            <a href="/recommend">맛집 공유하기</a>
          </li>
          <li class="nav-item"><a href="/about">About 푸드몰</a></li>
        </ul>
      </nav>
    </aside>
    <main>
      <section class="box-container">
        <h1>맛집 공유 사이트</h1>
        <p>
          세상에 많은 맛집을 공유해보세요.
        </p>
        <p>
          회원가입이나 로그인없이 자유롭게 공유가 가능합니다.
          <br />
          let's try!
        </p>
      </section>
    </main>
    <footer>
      © 맛집탐방 2022 This site is created by 정호영 Solo Project.
    </footer>
  </body>
</html>
