<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %> 
  </head>
  <body>
    <%- include('includes/header') %> 
    <%- include('includes/aside') %> 
    <main>
      <h1>등록 성공</h1>
      <p>작성하신 음식점에 대한 추천이 다른분들에게 공유되었습니다.</p>
    </main>
    <%- include('includes/footer') %> 
  </body>
</html>
