<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %> 
    <link rel="stylesheet" href="styles/index.css" />
  </head>
  <body>
    <%- include('includes/header') %>     
    <%- include('includes/aside') %> 
    <main>
      <h1>배가 고픈 누군가를 위한 Site</h1>
      <p>
        다른 사용자에게 맛집을 공유해봐요.
      </p>
      <ul id="actions">
        <li>
          <a href="/restaurants">공유된 음식점 보러가기</a>
        </li>
        <li>
          <a href="/recommend">내가 가본 맛집 등록하기</a>
        </li>
      </ul>
    </main>
  </body>
    <%- include('includes/footer') %> 
</html>
