<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FoodMall</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/shared.css" />
    <link rel="stylesheet" href="styles/index.css" />
    <script type="text/javascript" src="scripts/responsive.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
  </head>
  <body>
    <%- include('includes/header') %>     
    <%- include('includes/aside') %> 
    <main>
      <h1>배가 고픈 누군가를 위한 Site</h1>
      <p>
        다른 사용자에게 맛집을 공유해봐요.
      </p>
      <ul id="actions">
        <li>
          <a href="/restaurants">공유된 음식점 보러가기</a>
        </li>
        <li>
          <a href="/recommend">내가 가본 맛집 등록하기</a>
        </li>
      </ul>
    </main>
  </body>
    <%- include('includes/footer') %> 
</html>
