main {
  width: 95%;
  max-width: 50rem;
  margin: 3rem auto;
  text-align: center;
}

main p {
  font-size: 18px;
}

main ul {
  list-style: none;
  margin: 3rem 0;
  padding: 0;
  display: flex;
}

main li {
  width: 20rem;
  height: 10rem;
  border-radius: 6px;
  margin: 0 1rem;
  overflow: hidden;
}

main li a {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: rgb(185, 234, 255);
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #222;
  font-size: 20px;
  padding: 1rem;
  box-sizing: border-box;
  border: 1px solid rgb(30, 188, 231);
}

main li a:hover,
main li a:active {
  background-color: rgb(237, 224, 198);
}
